:root {
  --accent-color-light: #fca41225;
  --accent-color: #fca412;
  --accent-color-dark: #b1730f;

  --backgroud-color: #ffffff;
  --backgroud-color-dark: #f5f5f5;

  --text-color-main: #14223d;
  --text-color-second: rgba(0, 0, 0, 0.25);

  --stroke-color: #0000000d;

  --shadow: 0 0 2vh rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../public/fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url('../public/fonts/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-size: 2vh;
  box-sizing: border-box;
}

body {
  background-color: white;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2vh;
  gap: 2vh;
}